header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright .social, .our-furniture .container .furniture-container .info .image-div::before, .landing .chev-right,
.landing .chev-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-component {
  text-decoration: none;
  padding: 10px;
  background-color: #ffb607;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 575px) {
  .button-component {
    font-size: 0.8rem;
  }
}
.button-component:hover {
  background-color: #070201;
}
.button-component i {
  font-size: 0.8rem;
}

.scroll-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: -35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
  background-color: #090808;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.scroll-to-top:focus {
  outline: none;
}
.scroll-to-top:hover {
  background-color: #ffb607;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb607;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
}
header .container {
  position: relative;
}
header .container nav {
  padding: 15px 0;
  z-index: 1000;
}
@media (max-width: 575px) {
  header .container nav .logo img {
    width: 120px;
  }
}
@media (max-width: 991.9px) {
  header .container nav ul.navbar {
    display: none;
  }
  header .container nav ul.navbar.open {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
  }
  header .container nav ul.navbar.open li:not(:last-child) {
    margin-bottom: 10px;
  }
  header .container nav ul.navbar.open li:hover {
    background-color: #ffb607;
    color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .container nav ul.navbar.open li a {
    display: block;
    padding-left: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .container nav ul.navbar.open li a:hover {
    color: white;
    padding-left: 20px;
  }
}
@media (max-width: 991.9px) and (max-width: 575px) {
  header .container nav ul.navbar.open li a {
    font-size: 0.8rem;
  }
}
header .container nav ul.navbar li {
  display: inline-block;
  margin-left: 10px;
}
header .container nav ul.navbar li:last-child a {
  color: #ffb607;
}
header .container nav ul.navbar li a {
  text-decoration: none;
  color: #090808;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .container nav ul.navbar li a:hover {
  color: #ffb607;
}
@media (max-width: 991.9px) {
  header .container nav .login-div {
    display: none;
  }
}
header .container nav .login-div a {
  text-decoration: none;
  text-transform: uppercase;
  color: #090808;
}
header .container nav .toggle-menu {
  display: none;
  font-size: 1.4rem;
  color: #535353;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}
@media (max-width: 991.9px) {
  header .container nav .toggle-menu {
    display: block;
  }
}

.heading-section {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .heading-section {
    width: 100%;
  }
}
.heading-section h1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 575px) {
  .heading-section h1 {
    font-size: 1.5rem;
  }
}
.heading-section p {
  font-weight: 300;
  line-height: 1.8;
}
@media (max-width: 575px) {
  .heading-section p {
    font-size: 0.8rem;
  }
}

/* Start Landing */
.landing {
  padding: 90px 0 60px;
  min-height: 100vh;
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  position: relative;
}
.landing .container {
  height: 459px;
  position: relative;
}
.landing a {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.landing .chev-right,
.landing .chev-left {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #070201;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
}
.landing .chev-right:hover,
.landing .chev-left:hover {
  background-color: #ffb607;
}
.landing .chev-left {
  left: 20px;
}

/* End Landing */
/* Start Services */
.services {
  padding: 90px 0 60px;
}
.services .container .boxs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
.services .container .boxs-container .box {
  width: 24.25%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
}
@media (max-width: 991.9px) {
  .services .container .boxs-container .box {
    width: 48.5%;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .services .container .boxs-container .box {
    margin-bottom: 10px;
    width: 100%;
  }
}
.services .container .boxs-container .box h4 {
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 15px 0;
}
@media (max-width: 575px) {
  .services .container .boxs-container .box h4 {
    font-size: 1rem;
  }
}
.services .container .boxs-container .box p {
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 1.7;
}
@media (max-width: 575px) {
  .services .container .boxs-container .box p {
    font-size: 0.8rem;
  }
}
.services .container .boxs-container .box a {
  margin: 0 auto;
}

/* End Services */
/* Start About us */
.about-us {
  padding: 60px 0 60px;
  position: relative;
}
.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb607;
  z-index: -1;
}
.about-us .container .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .about-us .container .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-us .container .about-container .text,
.about-us .container .about-container img {
  width: 47%;
}
@media (max-width: 767px) {
  .about-us .container .about-container .text,
.about-us .container .about-container img {
    width: 100%;
  }
}
.about-us .container .about-container .text h1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 45px;
}
@media (max-width: 575px) {
  .about-us .container .about-container .text h1 {
    font-size: 1rem;
  }
}
.about-us .container .about-container .text p {
  color: white;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 45px;
}
@media (max-width: 575px) {
  .about-us .container .about-container .text p {
    font-size: 0.8rem;
  }
}
.about-us .container .about-container .text a {
  background-color: #070201;
}
.about-us .container .about-container .text a:hover {
  background-color: white;
  color: #070201;
}
@media (max-width: 767px) {
  .about-us .container .about-container .text {
    margin-bottom: 45px;
  }
}

/* End About us */
/* Start Our Furnitures */
.our-furniture {
  padding: 80px 0 80px;
}
.our-furniture .container .furniture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}
@media (max-width: 767px) {
  .our-furniture .container .furniture-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.our-furniture .container .furniture-container .info {
  width: 48.5%;
}
.our-furniture .container .furniture-container .info .image-div {
  position: relative;
}
.our-furniture .container .furniture-container .info .image-div::before {
  content: "\f002";
  font-family: "font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 100px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 175px;
  height: 175px;
  background-color: #ffb607;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
@media (max-width: 575px) {
  .our-furniture .container .furniture-container .info .image-div::before {
    width: 130px;
    height: 130px;
    font-size: 80px;
  }
}
.our-furniture .container .furniture-container .info .image-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.our-furniture .container .furniture-container .info .image-div:hover::before {
  opacity: 1;
}
.our-furniture .container .furniture-container .info .image-div:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.our-furniture .container .furniture-container .info .image-div img {
  max-width: 100%;
}
.our-furniture .container .furniture-container .info h4 {
  color: #ffb607;
  font-size: 1.1rem;
  margin: 20px 0;
}
@media (max-width: 575px) {
  .our-furniture .container .furniture-container .info h4 {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 5px 0;
  }
}
.our-furniture .container .furniture-container .info p {
  line-height: 1.7;
  font-weight: 300;
}
@media (max-width: 575px) {
  .our-furniture .container .furniture-container .info p {
    font-size: 0.8rem;
  }
}
@media (max-width: 767px) {
  .our-furniture .container .furniture-container .info {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* End Our Furnitures */
/* Start Who We Are */
.who-we-are {
  padding: 80px 0;
  background-image: url("../images/bg-1.png");
  background-size: cover;
}
.who-we-are .container .heading-section h1 {
  color: white;
}
.who-we-are .container .heading-section p {
  color: white;
}
.who-we-are .container > p {
  margin: 40px 0;
  color: white;
  font-weight: 300;
  text-align: center;
}
.who-we-are .container a {
  margin: 0 auto;
  background-color: #070201;
}
.who-we-are .container a:hover {
  background-color: white;
  color: #070201;
}

/* End Who We Are */
/* Start Our Projects */
.our-projects {
  padding: 80px 0;
}
.our-projects .container .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .our-projects .container .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.our-projects .container .projects-container .box {
  max-width: 31.3333333333%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}
@media (max-width: 767px) {
  .our-projects .container .projects-container .box {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.our-projects .container .projects-container .box img {
  max-width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.our-projects .container .projects-container .box p,
.our-projects .container .projects-container .box a {
  position: absolute;
  z-index: 2;
}
@media (max-width: 575px) {
  .our-projects .container .projects-container .box p,
.our-projects .container .projects-container .box a {
    font-size: 0.8rem;
  }
}
.our-projects .container .projects-container .box p {
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.our-projects .container .projects-container .box a {
  top: 50%;
  left: 50%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  padding: 3px 8px;
  opacity: 0;
  font-size: 0.9rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.our-projects .container .projects-container .box::before {
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 182, 7, 0.6);
  z-index: 1;
  opacity: 0;
}
.our-projects .container .projects-container .box:hover::before {
  opacity: 1;
}
.our-projects .container .projects-container .box:hover img {
  -webkit-transform: rotate(6deg) scale(1.1);
  transform: rotate(6deg) scale(1.1);
}
.our-projects .container .projects-container .box:hover a {
  opacity: 1;
}

/* End Our Projects */
/* Start Testimonials */
.testimonials {
  padding: 80px 0;
}
.testimonials .testimonials-container {
  margin-top: 40px;
}
.testimonials .testimonials-container .box {
  border: 1px solid #070201;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  margin-bottom: 30px;
}
.testimonials .testimonials-container .box.right {
  margin-left: auto;
}
@media (max-width: 767px) {
  .testimonials .testimonials-container .box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 575px) {
  .testimonials .testimonials-container .box {
    padding: 5px;
    margin-bottom: 10px;
  }
}
.testimonials .testimonials-container .box .image {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575px) {
  .testimonials .testimonials-container .box .image {
    width: 100px;
  }
}
.testimonials .testimonials-container .box .image img:not(:last-child) {
  width: 140px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .testimonials .testimonials-container .box .image img:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .testimonials .testimonials-container .box .image img:not(:last-child) {
    width: 100px;
  }
}
.testimonials .testimonials-container .info {
  width: 72%;
}
@media (max-width: 767px) {
  .testimonials .testimonials-container .info {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}
.testimonials .testimonials-container .info h4 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .testimonials .testimonials-container .info h4 {
    margin-bottom: 5px;
  }
}
@media (max-width: 575px) {
  .testimonials .testimonials-container .info h4 {
    font-size: 1rem;
  }
}
.testimonials .testimonials-container .info p {
  font-weight: 300;
  line-height: 1.7;
  color: #535353;
}
@media (max-width: 575px) {
  .testimonials .testimonials-container .info p {
    font-size: 0.8rem;
  }
}
.testimonials .testimonials-container .bullets li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ffb607;
  border-radius: 50%;
  cursor: pointer;
}
.testimonials .testimonials-container .bullets li.active {
  background-color: #070201;
}

/* End Testimonials */
/* Start Contact Us */
.contact-us {
  padding: 80px 0;
  background-image: url("../images/contact-bg.png");
  background-size: cover;
}
.contact-us h1 {
  font-weight: normal;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 575px) {
  .contact-us h1 {
    font-size: 1.5rem;
  }
}
.contact-us .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.contact-us .contact-container form,
.contact-us .contact-container img {
  width: 48.5%;
}
.contact-us .contact-container form input[type=text],
.contact-us .contact-container form input[type=email],
.contact-us .contact-container form textarea {
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #535353;
  margin-bottom: 10px;
  caret-color: #ffb607;
}
.contact-us .contact-container form input[type=text]:focus,
.contact-us .contact-container form input[type=email]:focus,
.contact-us .contact-container form textarea:focus {
  outline: none;
}
.contact-us .contact-container form input[type=text]:focus::-webkit-input-placeholder, .contact-us .contact-container form input[type=email]:focus::-webkit-input-placeholder, .contact-us .contact-container form textarea:focus::-webkit-input-placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.contact-us .contact-container form input[type=text]:focus::-moz-placeholder, .contact-us .contact-container form input[type=email]:focus::-moz-placeholder, .contact-us .contact-container form textarea:focus::-moz-placeholder {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.contact-us .contact-container form input[type=text]:focus:-ms-input-placeholder, .contact-us .contact-container form input[type=email]:focus:-ms-input-placeholder, .contact-us .contact-container form textarea:focus:-ms-input-placeholder {
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.contact-us .contact-container form input[type=text]:focus::-ms-input-placeholder, .contact-us .contact-container form input[type=email]:focus::-ms-input-placeholder, .contact-us .contact-container form textarea:focus::-ms-input-placeholder {
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.contact-us .contact-container form input[type=text]:focus::placeholder,
.contact-us .contact-container form input[type=email]:focus::placeholder,
.contact-us .contact-container form textarea:focus::placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
@media (max-width: 575px) {
  .contact-us .contact-container form input[type=text],
.contact-us .contact-container form input[type=email],
.contact-us .contact-container form textarea {
    padding: 8px;
  }
}
.contact-us .contact-container form textarea {
  height: 200px;
  resize: none;
}
.contact-us .contact-container form input[type=submit] {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-us .contact-container form input[type=submit]:hover {
  background-color: white;
  color: #535353;
}
@media (max-width: 575px) {
  .contact-us .contact-container form input[type=submit] {
    width: 85px;
    height: 40px;
    font-size: 0.8rem;
  }
}
@media (max-width: 767px) {
  .contact-us .contact-container form {
    width: 100%;
  }
}
@media (max-width: 991.9px) {
  .contact-us .contact-container img {
    height: 334px;
  }
}
@media (max-width: 767px) {
  .contact-us .contact-container img {
    display: none;
  }
}

/* End Contact Us */
/* Start Footer */
footer {
  padding: 80px 0;
  background-color: #313131;
}
footer .container .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}
footer .container .footer-container .text {
  width: 22%;
}
@media (max-width: 991.9px) {
  footer .container .footer-container .text {
    width: 48%;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  footer .container .footer-container .text {
    width: 100%;
  }
}
footer .container .footer-container .text img {
  max-width: 100%;
}
footer .container .footer-container .text p {
  line-height: 1.7;
  font-weight: 300;
  margin-top: 35px;
}
@media (max-width: 991.9px) {
  footer .container .footer-container .text p {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  footer .container .footer-container .text p {
    font-size: 0.8rem;
  }
}
footer .container .footer-container .text h3 {
  font-weight: normal;
  font-size: 1.3rem;
  color: #ffb607;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  footer .container .footer-container .text h3 {
    font-size: 1rem;
  }
}
footer .container .footer-container .text ul {
  list-style: none;
  margin-top: 35px;
}
@media (max-width: 991.9px) {
  footer .container .footer-container .text ul {
    margin-top: 20px;
  }
}
footer .container .footer-container .text ul li {
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .container .footer-container .text ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer .container .footer-container .text ul li:hover {
  color: #ffb607;
}
@media (max-width: 575px) {
  footer .container .footer-container .text ul li {
    font-size: 0.8rem;
  }
}
footer .container .subscribe {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid white;
}
@media (max-width: 767px) {
  footer .container .subscribe {
    width: 100%;
  }
}
footer .container .subscribe input[type=text] {
  padding: 15px 0;
  width: 100%;
  background-color: transparent;
  border: none;
  caret-color: #ffb607;
}
footer .container .subscribe input[type=text]:focus {
  outline: none;
}
footer .container .subscribe input[type=text]:focus::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
footer .container .subscribe input[type=text]:focus::-moz-placeholder {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
footer .container .subscribe input[type=text]:focus:-ms-input-placeholder {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
footer .container .subscribe input[type=text]:focus::-ms-input-placeholder {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
footer .container .subscribe input[type=text]:focus::placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
footer .container .subscribe input[type=submit] {
  padding: 15px 0;
  background-color: transparent;
  color: #ffb607;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@media (max-width: 575px) {
  footer .container .subscribe input[type=submit] {
    font-size: 0.8rem;
  }
}

/* End Footer */
/* Start Copyright */
.copyright {
  padding: 20px 0;
  text-align: center;
}
.copyright .social {
  margin-bottom: 10px;
}
.copyright .social i {
  width: 30px;
  height: 30px;
  background-color: #090808;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.copyright .social i:not(:last-child) {
  margin-right: 10px;
}
.copyright .social i:hover:first-child {
  background-color: #1877f2;
}
.copyright .social i:hover:nth-child(2) {
  background-color: #1da1f2;
}
.copyright .social i:hover:nth-child(3) {
  background-color: #c32aa3;
}
.copyright .social i:hover:last-child {
  background-color: #0a66c2;
}
.copyright p {
  font-weight: 300;
}
@media (max-width: 575px) {
  .copyright p {
    font-size: 0.8rem;
  }
}

/* End Copyright */