$mainColor: #ffb607;
$secondColor: #070201;
$mainColorText: #090808;
$secondColorText: #535353;
// Variables Of Media Query
$smalllest: ("max-width: 575px");
$small: ("min-width: 576px");
$small-mobile: ("max-width: 767px");
$mobile: ("min-width: 768px");
$min-mwdium: ("max-width: 991.9px");
$medium: ("min-width: 992px");
$min-large: ("min-width: 1200px");
$max-lage: ("min-width: 1400px");
